{% extends 'base.html' %}

{% block title %}Portal do Gestor{% endblock %}

{% block navbar_title %}
<span class="app-title-text">Portal do Gestor</span>
{% endblock %}

{% block nav_items %}

<!-- Divisor vertical -->
<li class="nav-item">
  <span class="nav-link" style="border-left: 2px solid #60a5fa; height: 24px; margin: 8px 15px;"></span>
</li>

<!-- Menu de Cadastros -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Cadastros
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'gestor:loja_list' %}">
        Lojas
    </a></li>
    <li><a class="dropdown-item" href="{% url 'gestor:vendedor_list' %}">
        Vendedores
    </a></li>

    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'gestor:produto_list' %}">
        Produtos
    </a></li>
    <li><a class="dropdown-item" href="{% url 'gestor:grupo_list' %}">
        Grupos
    </a></li>
    <li><a class="dropdown-item" href="{% url 'gestor:fabricante_list' %}">
        Fabricantes
    </a></li>
  </ul>
</li>

<!-- Menu de Clientes -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Clientes
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'gestor:cliente_list' %}">
        Clientes
    </a></li>
    <li><a class="dropdown-item" href="{% url 'gestor:vendas_list' %}">
        Vendas
    </a></li>
    <li><a class="dropdown-item" href="{% url 'gestor:relatorio_clientes' %}">
        Relatório Clientes
    </a></li>
</li>
  </ul>
</li>

{% endblock %}