{% extends 'base.html' %}

{% block title %}Portal do Gestor{% endblock %}

{% block navbar_title %}
<span class="app-title-text">Portal do Gestor</span>
{% endblock %}


{% block nav_items %}
<li class="nav-item">
  <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'gestor:dashboard' %}">
  </a>
</li>

<!-- Divisor vertical -->
<li class="nav-item">
  <span class="nav-link" style="border-left: 2px solid #60a5fa; height: 24px; margin: 8px 15px;"></span>
</li>

<!-- Menu de Configurações -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {% if  'cliente' in request.resolver_match.url_name %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Cadastros
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <!-- Seção de Empresas -->
     <!--  <li><h6 class="dropdown-header">Cadastros</h6></li>-->
    <li><a class="dropdown-item" href="{% url 'gestor:usuario_list' %}">
        Clientes
    </a></li>

  </ul>
</li>

{% endblock %}